
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#more {display: none;}
p
 {font-family:"arial";
 font-size:22px;}
 a
 {font-family:"arial";
 font-size:22px;}
body {
	background-color: rgb(253, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(245, 239, 231);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(55, 206, 146);
	padding: 20px;

}
.right {
	position: initial;
	background-color: rgb(192, 192, 192);
	padding: 20px;

}
.image, .Contactos, .Habilidades,  .Aficiones, .titulo,
 .Experiencias, .formacion {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}
.ul{
font-family:"arial";
font-size:22px;
}
li{
font-family:"arial";
font-size:22px;
}